on:
  workflow_call:
    inputs:
      matrix:
        type: string
        default: '{}'

jobs:
  matrix-job:
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(inputs.matrix) }}
    steps:
      - run: echo ${{ matrix }}
